.Portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  font-family: "SegoeUILight", sans-serif;
  font-size: 30px;
  color: #515f67;
  text-transform: uppercase;
}
.Portfolio .Portfolio-menuContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
}
.Portfolio .Portfolio-menuContainer .Portfolio-headerContainer {
  display: inline-block;
  text-transform: uppercase;
}
.Portfolio .Portfolio-menuContainer .Portfolio-headerContainer .Portfolio-headerText {
  display: inline-block;
  position: relative;
  font-family: "SegoeUILight", sans-serif;
  font-size: 30px;
  bottom: 10px;
}
.Portfolio .Portfolio-menuContainer .Portfolio-headerContainer .Portfolio-textUnderLine {
  display: block;
  position: absolute;
  width: 46px;
  height: 2px;
  background: #515f67;
}
.Portfolio .Portfolio-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.Portfolio .Portfolio-menu .Portfolio-item {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #515f67;
  padding: 8px 17px;
  border: 2px solid transparent;
}
.Portfolio .Portfolio-menu .Portfolio-item:hover {
  color: #4bcaff;
  border: 2px solid #4bcaff;
}
.Portfolio .Portfolio-imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.Portfolio .Portfolio-imgContainer .Portfolio-wrap {
  overflow: hidden;
  background: #515f67;
  cursor: pointer;
  position: relative;
}
.Portfolio .Portfolio-imgContainer .Portfolio-wrap .Portfolio-imgItem {
  -webkit-transition: .9s;
  transition: .9s;
}
.Portfolio .Portfolio-imgContainer .Portfolio-wrap .Portfolio-imgItem:hover {
  opacity: 0.2;
}
