.Text {
  text-align: center;
  font-family: "SegoeUILight", sans-serif;
  text-transform: uppercase;
  font-size: 42px;
}
.Text-mainWrap {
  display: inline-block;
  color: #ffffff;
  padding: 17px;
  background: rgba(70, 80, 88, 0.75);
}
.Text--top {
  margin-bottom: 12px;
}
.Text-contentJohnDoe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 70px;
}
.Text-contentJohnDoe--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Text-contentJohnDoe--wrap:first-child {
  margin-right: 30px;
}
.Text-subContentJohnDoe:first-child {
  margin-bottom: 35px;
}
