.Twitter {
  background: #4bcaff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "SegoeUILight", sans-serif;
}
.Twitter-mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}
.Twitter-headerContainer {
  display: inline-block;
  text-transform: uppercase;
}
.Twitter-headerText {
  display: inline-block;
  position: relative;
  font-size: 30px;
  top: 0;
  bottom: 10px;
}
.Twitter-textUnderLine {
  display: block;
  position: absolute;
  width: 46px;
  height: 2px;
  background: #fff;
}
.Twitter-textContent {
  font-size: 28px;
}
.Twitter-textContent--bold {
  font-family: 'SegoeUIBold', sans-serif;
}
