@import "./_variables.less";

@media all and (max-width: @sizes[large]) {
  .container {
    width: 1024px;
    padding: 0 15px;
  }

  .feedback {
    &-info {
      width: 497px;
      right: 0px;
    }
  }

  .portfolio {
    &-works {
      transform: translateX(0px);
    }

    &-workExample {

      &:nth-last-child(-n + 2) {
        display: none;
      }
    }
  }

}

@media all and (max-width: @sizes[desktop]) {
  .container {
    width: 960px;
    padding: 0 15px;
  }

  .header-bar {
    height: 100px;
  }

  .menu {
    transform: translateX(1px);
  }


  .nav {
    padding-bottom: 150px;
    line-height: 100px;
  }

  .services {
    &-container {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .servicesCard {
    max-width: 45%;
    margin-left: 0;
  }

  .portfolio {
    &-works {
      justify-content: space-around;
    }
  }

  .aboutJohnDoe {
    &-contentWrap {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-content {
      margin-right: 0px;
      max-width: 80%;
    }

    &-text {
      margin-bottom: 29px;
    }
  }

  .feedback {
    &-info {
      width: 444px;
    }
  }

  .video {
    float: left;
    padding-bottom: 30px;
  }

  .defaultSection {
    &-contentWrap {
      float: left;
      width: 60%;
    }
  }
}

@media all and (max-width: @sizes[tablet]) {
  .container {
    width: 560px;
  }

  .header-content:last-child {
    margin-bottom: 200px;
  }

  .menu {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 9;

    &-list {

      font-size: 1.125rem;

      &--navigation {
        display: none;
        position: absolute;
        flex-direction: column;
        height: 100%;
        width: 100%;
        right: -300px;
      }

      &--portfolio {
        flex-direction: row;
      }

      &--footer {
        justify-content: space-between;
      }
    }

    &-item {
      height: 70px;
      line-height: 70px;
      background: rgba(70, 80, 88, 0.75);

      &:first-child {
        margin-left: 9px;
      }

      &--portfolio {
        background: transparent;

        &:first-child {
          margin: 0;
        }
      }

      &--footer {
        background: transparent;
      }
    }

    &-link {
      border: none;

      &:hover {
        color: @tertiary;
        border: none;
      }
    }
  }

  .burger {
    display: inline-block;

    &--active+.menu-list--navigation {
      display: block;
      top: 100px;
      right: 50px;
      text-align: center;
    }
  }

  .services {
    &-container {
      justify-content: space-between;
    }
  }

  .servicesCard {
    max-width: 45%;
  }

  .portfolio {
    &-navigation {
      flex-direction: column;
      align-items: flex-start;
    }

    &-works {
      max-width: 100%;
    }

    &-workExample {
      max-height: 220px;
      width: 220px;
    }
  }

  .aboutJohnDoe {
    padding-bottom: 100px;

    &-contentWrap {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-content {
      margin-right: 0px;
      max-width: 100%;
    }

    &-text {
      margin-bottom: 29px;
    }
  }

  .feedback {
    &-info {
      display: none;
    }

    &-area {
      width: 100%;
    }
  }

  .video {
    width: 100%;
  }

  .defaultSection {
    &-contentWrap {
      width: 100%;
    }
  }

  .footer {
    &-wrap {
      align-items: center;
      flex-direction: column;
    }
  }
}

@media all and (max-width: @sizes[mobile]) {
  .container {
    width: 410px;
  }

  .services {
    &-container {
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  .servicesCard {
    max-width: 100%;
  }

  .portfolio {
    display: none;
  }

  .aboutJohnDoe {
    padding-bottom: 100px;

    &-contentWrap {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-content {
      margin-right: 0px;
      max-width: 100%;
    }

    &-text {
      margin-bottom: 29px;
    }
  }

  .video {
    height: auto;
  }

  .social {
    &-icon {
      margin-right: 10px;
    }
  }

  .menu {
    &-list {
      &--footer {
        flex-direction: column;
        align-items: center;
      }
    }

    &-footer {
      padding-bottom: 20px
    }
  }

  .burger--active+.menu-list--navigation {
    width: 100vw;
    right: 0px;
  }

  .footer {
    padding: 30px 0;
  }

}

@media all and (max-width: @sizes[xsMobile]) {
  .container {
    width: 320px;
  }
}