@import url(color.less);

.Button-defaultSection {
	font-family: 'SegoeUIBold', sans-serif;
	font-size: 14px;
	width: 136px;
	height: 41px;
	border:2px solid @colorGrey;
	background: @colorGreyLight;
	color: @colorGrey;
}