.Services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background: #4bcaff;
  font-family: "SegoeUI", sans-serif;
}
.Services .Services-headerContainer {
  text-transform: uppercase;
}
.Services .Services-headerContainer .Services-headerText {
  display: inline-block;
  position: relative;
  font-family: "SegoeUILight", sans-serif;
  font-size: 30px;
  top: 0;
  bottom: 10px;
}
.Services .Services-headerContainer .Sevices-textUnderLine {
  display: block;
  position: absolute;
  width: 46px;
  height: 2px;
  background: #ffffff;
}
.Services .Sevices-itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.Services .Sevices-itemContainer .Services-item {
  padding-top: 35px;
  margin-right: 25px;
  font-family: "SegoeUISemiBold", sans-serif;
}
.Services .Sevices-itemContainer .Services-item .Services-headerItem {
  padding: 20px 0;
  font-size: 24px;
  text-transform: uppercase;
}
.Services .Sevices-itemContainer .Services-item .Services-textItem {
  line-height: 1.5;
  font-size: 12px;
}
